// showing default values
// $accentColor = #3eaf7c
// $accentColor = #FF69B4
$accentColor = #f5712c
// $textColor = #2c3e50
$textColor = #333
// $borderColor = #eaecef
$borderColor = #FF69B4
$codeBgColor = #282c34